{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns:value="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
  <head>
    <title>Time Tracker &mdash; E.S.U.</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href={% static "fonts/icomoon/style.css" %}>

    <link rel="stylesheet" href={% static "css/bootstrap.min.css" %}>
    <link rel="stylesheet" href={% static "css/jquery-ui.css" %}>
    <link rel="stylesheet" href={% static "css/owl.carousel.min.css"%}>
    <link rel="stylesheet" href={% static "css/owl.theme.default.min.css"%}>
    <link rel="stylesheet" href={% static "css/owl.theme.default.min.css"%}>

    <link rel="stylesheet" href={% static "css/jquery.fancybox.min.css"%}>

    <link rel="stylesheet" href={% static "css/bootstrap-datepicker.css"%}>

    <link rel="stylesheet" href={% static "fonts/flaticon/font/flaticon.css"%}>

    <link rel="stylesheet" href={% static "css/aos.css"%}>

    <link rel="stylesheet" href={% static "css/style.css"%}>

  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">


  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>

    <div id="sticky-wrapper" class="sticky-wrapper" style="height: 48px;">
      <header class="site-navbar js-sticky-header site-navbar-target" role="banner" style="">

       <div class="container">
         <div class="row align-items-center">

           <div class="col-6 col-xl-2">
             <h1 class="mb-0 site-logo"><a href="../" class="h2 mb-0">ESU<span class="h2 mb-0">.</span> </a></h1>
           </div>
         </div>
       </div>

      </header>
    </div>
  </div>



    <div class="container" style="margin: auto; padding: 50px" >

      <div class="container" style = "margin: auto;" >
               <form method="POST" style="border-radius: 30px;border-style:solid;border-color: #8cc8f9
               ;width: 465px;height: 620px;margin: auto;padding: 20px;filter: blur(0px) brightness(100%);">
                   {% csrf_token %}
                <h1 class="text-center">Registrate!</h1>
                <input class="form-control" type="first_name" name="first_name" placeholder="Nombre" style="padding-left: 10px;background-color: #c9cbff;border-radius: 10px;height: 60px; width: 400px; margin: 10px; " />
                <input class="form-control" type="last_name" name="last_name" placeholder="Apellido" style="padding-left: 10px;background-color: #c9cbff;border-radius: 10px;height: 60px; width: 400px; margin: 10px; " />
                <input class="form-control" type="email" name="email" placeholder="Email" style="padding-left: 10px;background-color: #c9cbff;border-radius: 10px;height: 60px; width: 400px; margin: 10px;" />
                <input class="form-control" type="password" name="password1" placeholder="Contraseña" style="padding-left: 10px;background-color: #c9cbff;border-radius: 10px;height: 60px; width: 400px; margin: 10px; "/>
                <input class="form-control" type="password" name="password2" placeholder="Confirmar Contraseña" style="padding-left: 10px;background-color: #c9cbff;border-radius: 10px;height: 60px; width: 400px; margin: 10px;"/>
                <button class="btn btn-primary" type="button" style="margin-bottom: 50px;margin-left: 10px;width: 400px;color: #000000;font-size: 19px;">Seleccionar Foto de Perfil</button>
                <button class="btn btn-primary" type="submit" value="Register" style="margin-left: 10px;width: 400px;color: #000000;font-size: 19px;">Registrarse</button>
                </form>
      </div>
    </div>


  <script src={% static "js/jquery-3.3.1.min.js"%}></script>
  <script src={% static "js/jquery-ui.js"%}></script>
  <script src={% static "js/popper.min.js"%}></script>
  <script src={% static "js/bootstrap.min.js"%}></script>
  <script src={% static "js/owl.carousel.min.js"%}></script>
  <script src={% static "js/jquery.countdown.min.js"%}></script>
  <script src={% static "js/jquery.easing.1.3.js"%}></script>
  <script src={% static "js/aos.js"%}></script>
  <script src={% static "js/jquery.fancybox.min.js"%}></script>
  <script src={% static "js/jquery.sticky.js"%}></script>
  <script src={% static "js/isotope.pkgd.min.js"%}></script>

  </body>
</html>